@import url(http://weloveiconfonts.com/api/?family=zocial);

body {
  margin: 0;
  color: #a9a9a9;
}

article {
  width: 80%;
  margin: 0 10%;
  border-top: 1px solid #990013;
}

header {
  margin: 15px 10% 0 10%;
}

.header-link {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  max-width: 90px;
  margin-right: 20px;
}

header h1 {
  font-size: 2em;
  margin: 0;
  text-align: right;
  font-family: "Montserrat", sans-serif;
  letter-spacing: 3px;
}

header span{
  color: #990013;
}

header h2 {
  text-align: right;
  font-family: "Montserrat", sans-serif;
}

.main-work h2 {
  margin: 5px 0;
  font-size: 2em;
  text-transform: uppercase;
  color: #990013;
  font-family: "Montserrat", sans-serif;
}

figcaption {
  text-align: center;
  font-weight: bold;
  font-style: italic;
}

footer {
  margin-top: 15px;
  margin-bottom:15px;
  text-align: center;
}

figure {
  margin: 0;
}

.project {
  border: 1px solid #a9a9a9;
  max-width: 100%;
  display: block;
  margin: 0 auto;
  height: 180px;
  width: auto;
}

.main-project {
  display: block;
  margin: 0 auto;
  max-width: 100%;
  max-height: 400px;
  height: auto;
}

.featured-work-title {
  margin-bottom: 10px;
  font-family: "Montserrat", sans-serif;
}

.featured-work {
  display: flex;
  flex-wrap: wrap;
  font-family: "Montserrat", sans-serif;
}

.image-container {
  background-image:    url(../img/teachmeapp-400_small_2x-blurred.jpg);
  background-size:     cover;
  background-repeat:   no-repeat;
  background-position: center center;
}

section {
  margin: 0 10px;
}

section:first-of-type {
  margin-left: 0;
}

section:last-of-type {
  margin-right: 0;
}

section h3 {
  text-align: center;
  text-transform: uppercase;
  color:#990013;
}

p {
  text-align: justify;
  color: #555;
  font-family: "Raleway", sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}

.social {
  margin-bottom: 20px;
  margin-top: -20px;
}

[class*="zocial-"]:before {
  font-family: "zocial", sans-serif;
  color: #555;
  font-size: 3em;
  margin: 0 20px;
}

.source {
  color:#990013;
  margin-bottom: 30px;
}

@media (min-width: 768px) {
  section {
    flex: 1 0 0;
  }
  header h1 {
    font-size: 3em;
  }
}

@media (min-width: 1024px) {
  header h2 {
    margin-top: -20px;
  }
}

